.buttons{
  display: flex;
  justify-content: center;
}
.yuruyuru {
  background-color: #ccff00;
  color: #ff9911;
  box-shadow: 0 7px 0 rgb(60, 114, 6);
  border-radius: 0.25em;
  padding: 0.05em 0.05em 0.05em;
  line-height: 1;
  display: inline-block;
  cursor: pointer;
}
.hutuu {
  background-color: #ff9911;
  color: #ff9911;
  box-shadow: 0 7px 0 rgb(135, 94, 6);
  border-radius: 0.25em;
  padding: 0.05em 0.05em 0.05em;
  line-height: 1;
  display: inline-block;
  cursor: pointer;
  margin-left: 5px;
  margin-right: 5px;
}
.gitigiti {
  background-color: #ff3300;
  color: #ff9911;
  box-shadow: 0 7px 0 rgb(118, 32, 8);
  border-radius: 0.25em;
  padding: 0.05em 0.05em 0.05em;
  line-height: 1;
  display: inline-block;
  cursor: pointer;
}

